fixtures/chromedata_operations.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. -->
<definitions xmlns:dtns="urn:description7a.services.chrome.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Description7a" targetNamespace="urn:description7a.services.chrome.com">
	<wsdl:import location="https://example.com/chromedata/ws?wsdl=Chrome.wsdl" namespace="java:com.chrome.services.description7a.datatypes">
	</wsdl:import>
	<documentation>
		Chrome Automotive Description Service 7.2.8.307
	</documentation>
	<message name="getVersionInfo">
		<part name="request" element="dtns:VersionInfoRequest" />
	</message>
	<message name="getVersionInfoResponse">
		<part name="result" element="dtns:VersionInfo" />
	</message>

	<!-- selector -->
	<message name="getModelYears">
		<part name="request" element="dtns:ModelYearsRequest" />
	</message>
	<message name="getModelYearsResponse">
		<part name="result" element="dtns:ModelYears" />
	</message>
	<message name="getDivisions">
		<part name="request" element="dtns:DivisionsRequest" />
	</message>
	<message name="getDivisionsResponse">
		<part name="result" element="dtns:Divisions" />
	</message>
	<message name="getSubdivisions">
		<part name="request" element="dtns:SubdivisionsRequest" />
	</message>
	<message name="getSubdivisionsResponse">
		<part name="result" element="dtns:Subdivisions" />
	</message>
	<message name="getModels">
		<part name="request" element="dtns:ModelsRequest" />
	</message>
	<message name="getModelsResponse">
		<part name="result" element="dtns:Models" />
	</message>
	<message name="getStyles">
		<part name="request" element="dtns:StylesRequest" />
	</message>
	<message name="getStylesResponse">
		<part name="result" element="dtns:Styles" />
	</message>

	<!-- vehicle -->
	<message name="describeVehicle">
		<part name="request" element="dtns:VehicleDescriptionRequest" />
	</message>
	<message name="describeVehicleResponse">
		<part name="result" element="dtns:VehicleDescription" />
	</message>

	<!-- lookup -->
	<message name="getCategoryDefinitions">
		<part name="request" element="dtns:CategoryDefinitionsRequest" />
	</message>
	<message name="getCategoryDefinitionsResponse">
		<part name="result" element="dtns:CategoryDefinitions" />
	</message>

	<message name="getTechnicalSpecificationDefinitions">
		<part name="request" element="dtns:TechnicalSpecificationDefinitionsRequest" />
	</message>
	<message name="getTechnicalSpecificationDefinitionsResponse">
		<part name="result" element="dtns:TechnicalSpecificationDefinitions" />
	</message>

	<portType name="Description7aPortType">

		<operation name="getVersionInfo">
			<input message="dtns:getVersionInfo" />
			<output message="dtns:getVersionInfoResponse" />
		</operation>

		<!-- selector -->
		<operation name="getModelYears">
			<input message="dtns:getModelYears" />
			<output message="dtns:getModelYearsResponse" />
		</operation>
		<operation name="getDivisions">
			<input message="dtns:getDivisions" />
			<output message="dtns:getDivisionsResponse" />
		</operation>
		<operation name="getSubdivisions">
			<input message="dtns:getSubdivisions" />
			<output message="dtns:getSubdivisionsResponse" />
		</operation>
		<operation name="getModels">
			<input message="dtns:getModels" />
			<output message="dtns:getModelsResponse" />
		</operation>
		<operation name="getStyles">
			<input message="dtns:getStyles" />
			<output message="dtns:getStylesResponse" />
		</operation>

		<!-- vehicle -->
		<operation name="describeVehicle">
			<input message="dtns:describeVehicle" />
			<output message="dtns:describeVehicleResponse" />
		</operation>

		<!-- lookup -->
		<operation name="getCategoryDefinitions">
			<input message="dtns:getCategoryDefinitions" />
			<output message="dtns:getCategoryDefinitionsResponse" />
		</operation>
		<operation name="getTechnicalSpecificationDefinitions">
			<input message="dtns:getTechnicalSpecificationDefinitions" />
			<output message="dtns:getTechnicalSpecificationDefinitionsResponse" />
		</operation>


	</portType>

	<binding name="Description7aBinding" type="dtns:Description7aPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

		<operation name="getVersionInfo">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>

		<!-- selector -->
		<operation name="getModelYears">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getDivisions">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getSubdivisions">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getModels">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getStyles">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>

		<!-- vehicle -->
		<operation name="describeVehicle">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>

		<!-- lookup -->
		<operation name="getCategoryDefinitions">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>

		<operation name="getTechnicalSpecificationDefinitions">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>

	</binding>

	<service name="Description7a">
		<port name="Description7aPort" binding="dtns:Description7aBinding">
			<soap:address location="https://services.chromedata.com:443/Description/7a" />
		</port>
	</service>
</definitions>
